target/META-INF/mule-src/employee-system-api/src/main/mule/post-mg1-approval.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<flow name="post-mg1-approval" doc:id="6c3e1353-dc1c-420d-a5af-d465549f2b8f" >
		<ee:transform doc:name="Transform Message" doc:id="52e7df58-8b6a-492e-8937-c5a83f6025e6">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="details" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="812fd203-d954-4ec8-b2c6-f494cea1f5e6" message="#[payload]"/>
		<snowflake:update doc:name="Update" doc:id="ada19104-bf8b-42c6-924d-8f5483d982e7" config-ref="main_snownflake-connector">
			<snowflake:sql ><![CDATA[update "LOAN_APPLICATION"."PUBLIC"."LOAN_STATUS"
set REASON = :reason, STATUS = :status
where LOAN_ID = :loan_id]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	reason: payload.reason,
	status: payload.status,
	loan_id: payload.loan_id
}]]]></snowflake:input-parameters>
		</snowflake:update>
		<ee:transform doc:name="Transform Message" doc:id="16097d11-5b95-4304-80da-9a45fb9f25a0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	loan_id: vars.details.loan_id,
	user_id: vars.details.user_id,
	message:"customer loan status is updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
