target/META-INF/mule-src/employee-system-api/src/test/munit/get-loan-status-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="get-loan-status-test-suite.xml" />
	<munit:test name="get-loan-status-test-suite-get-loan-statusFlowTest" doc:id="69ed78af-c750-4ac0-8b9f-2c422191b637" description="Test">
		<munit:execution >
			<flow-ref doc:name="Flow-ref to get-loan-statusFlow" doc:id="b3310e86-ddbe-4c8c-bedb-32e86f45ad98" name="get-loan-statusFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="ca3c9a18-8a02-49c0-8e72-5d5eb15c5356" is="#[MunitTools::notNullValue()]"/>
		</munit:validation>
	</munit:test>
	<flow name="get-loan-status-test-suiteFlow" doc:id="c64fa3e9-b9e7-4fc4-9a64-2d24789990cb" >
		<munit-tools:mock-when doc:name="Mock when" doc:id="1e8f44a7-2b4f-49d6-882d-710c5b8ca8d7" processor="snowflake:select">
			<munit-tools:with-attributes >
				<munit-tools:with-attribute whereValue="8b73d5d1-fcdb-4311-81bb-0f84d542601b" attributeName="doc:id" />
			</munit-tools:with-attributes>
		</munit-tools:mock-when>
	</flow>


</mule>
