src/test/munit/post-update-employee-details-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="post-update-employee-details-test-suite.xml" />
	<munit:test name="post-update-employee-details-test-suite-post-update-employee-detailsFlowTest" doc:id="33fac5b5-db71-4313-8cf7-ac70e863b328" description="Test">
		<munit:execution >
			<flow-ref doc:name="Flow-ref to post-update-employee-detailsFlow" doc:id="fdeb670f-a281-40a4-865a-dd97eb72eb39" name="post-update-employee-detailsFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="62d23668-4d34-4b7e-b1e6-2e61419cb41f" is="#[MunitTools::notNullValue()]"/>
		</munit:validation>
	</munit:test>
	<flow name="post-update-employee-details-test-suiteFlow" doc:id="f8cfa7e8-fcae-4b29-ac2c-942006d540f0" >
		<munit-tools:mock-when doc:name="Mock when" doc:id="ed83249b-5a40-41fb-ac3d-685c986504cb" processor="snowflake:insert">
			<munit-tools:with-attributes >
				<munit-tools:with-attribute whereValue="f5003a2c-38cf-433c-a4ef-86d3c6f4b621" attributeName="doc:id" />
			</munit-tools:with-attributes>
		</munit-tools:mock-when>
	</flow>


</mule>
